@{
    Layout = null;
}

@model LoginModel
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Bookstore Login</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <div class="bg-dark text-white p-2 text-md-center">
            <span class="navbar-brand m-1-2">Bookstore Project</span>
        </div>
        
        <div class="text-danger form-group" asp-validation-summary="All"></div>
        <form class="input-group form-text" method="post" asp-controller="Account" asp-action="Login">

            <div class="Form-group mb-2 mr-sm-2">
                <label asp-for="Username">User Name: </label>
                <input asp-for="Username" class="form-control" />
            </div>

            <div class="form-group mb-2 mr-sm-2">
                <label asp-for="Password">Password: </label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>
            <div class="active mb-2 mr-sm-2">
                <button class="btn btn-primary btn-outline-success form-group" type="submit">Log In</button>
                @*this button will verify their access, then route them to the url they requested through the Home Controller*@
                <input type="hidden" asp-for="ReturnUrl" />
            </div>
        </form>
    </body>
    </html>