@page "/admin/books"
@*set default to if user just goes to admin*@
@*It will take them to the projects page still*@
@page "/admin"
@inherits OwningComponentBase<IBookstoreRepository>

<table class="table table-sm table-striped table-bordered">
    <thead>
        @*set up table headers*@
        <tr>
            <th>Book Name</th>
            <th>Author</th>
        </tr>
    </thead>
    @*now for the table content*@
<thbody>
    @if (BookData?.Count() > 0)
    {
        //List Books
        @foreach (Bookstores b in BookData)
        {
         <tr>
            <th>@b.Title</th>
            <th>@b.Author</th>
        </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="text-center">There Are No Books</td>

        </tr>
    }
</thbody>
</table>

@code {
    public IBookstoreRepository repo => Service;
    public IEnumerable<Bookstores> BookData { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await UpdateDate();
    }
    public async Task UpdateDate()
    {
        BookData = await repo.Books.ToListAsync();
    }
}
