<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @*//add this from chapter 7*@
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-lg-2">Cart</span>
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
    </div>


    <div class="m-1 p-1">
        @RenderBody()
    </div>


</body>
</html>

